.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    background-color:#950101;
}

.logo img {
    width: 170px;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.links a {
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    transition: .6s;
}

.links a:hover {
    color: #000000;
}


